html, body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #2c3e50;
}

header{
    font-size: xx-large;
    text-align: center;
    position: relative;
    z-index: 5;
    min-height: 20px;
    padding: 20px;
    color: #fbfbfb;

    background: linear-gradient(45deg, #34495e 25%, transparent 25%),
    linear-gradient(-45deg, #34495e 25%, transparent 25%),
    linear-gradient(135deg, #34495e 25%, transparent 25%),
    linear-gradient(-135deg, #34495e 25%, transparent 25%) 10px 0, 10px 0, 0 0, 0 0;

    background-size: 20px 20px;
    box-shadow: 0 0 5px 0 #333333;
}

footer {
    min-height: 50px;
    padding: 20px;
    font-size: 14px;
    color: #fbfbfb;

    background: linear-gradient(45deg, #34495e 25%, transparent 25%),
    linear-gradient(-45deg, #34495e 25%, transparent 25%),
    linear-gradient(135deg, #34495e 25%, transparent 25%),
    linear-gradient(-135deg, #34495e 25%, transparent 25%) 10px 0, 10px 0, 0 0, 0 0;

    background-size: 10px 12px;
}

.cell_item{
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 20px;
    border: 2px solid #fbfbfb;
    border-collapse: collapse;
}

.shop_details_container{
    width: 100%;
}

.list_items_container{
    width: 70%;
    border: 2px solid #fbfbfb;
    border-collapse: collapse;
}

.basket_container{
    width: 30%;
    vertical-align:top;
    border: 2px solid #fbfbfb;
    border-collapse: collapse;
}

.title_basket{
    text-align: center;
}

.basket_item{
    margin-left: 10px;
}

.basket_table{
    width: 100%;
}

.button {
    text-align: center;
    margin: 10px;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.sum {
    margin-bottom: 10px;
}

.confirm_container {
    text-align: center;
    margin-left: 10px;
}